<a href="https://colab.research.google.com/github/Gunasekar13/Python/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python interview questions**

**Find the unique number in the array**


1.  *** Input*** orginal_array=[1,1,1,2,2,3,4,4,5]
2.  *** Output*** unique_array=[1,2,3,4,5]

In [ ]:
orginal_array=[1,1,1,2,2,3,4,4,5]
unique_array=[]
for i in orginal_array:
  if i in unique_array:
    continue
  else:
    unique_array.append(i)
print(unique_array)

[1, 2, 3, 4, 5]

**Find the string is Anagram or not**

Input: The quick brown fox jumps over the lazy dog
2.   Output: yes

In [ ]:
str1='The quick brown fox jumps over the lazy dog'
str1=str1.lower()
temp='abcdefghijklmnopqrstuvwxyz'
b=[]
for i in temp:
    if i in str1:
        continue
    else:
        b.append(i)
        
if b!=[]:
    print('No-The string is not panagram')
else:
    print('Yes-The string is panagram')

Yes-The string is panagram

Write a function takes a two-word string and returns True if both words begin with same letter


*  animal_crackers('Crazy Chocolate') --> True
*  animal_crackers('Lazy Dog') --> False

In [ ]:
animal_crackers='Lazy Dog'
list1=list(animal_crackers.split(" ")) #string to list

str1=list1[0]
str2=list1[1]

if (str1[0:1]==str2[0:1]): #string slice
    print('Yes')
else:
    print('No')

No

Define a function called myfunc that takes in a string,
and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. 
Desired output:
myfunc('aNiMaL')-->True

In [ ]:
str1='aNiMaL'

def myfunc(str1):
    even_str=''
    odd_str=''
    for i in range(0,len(str1)): #seperate odd and even number string
        if i%2!=0:
            even_str+=str1[i]
        else:
            odd_str+=str1[i] 
            
    if (even_str.isupper()) and(odd_str.islower()) :     # check the conditions
        print("True")
    else:
        print("flase")
myfunc(str1)

True

**Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'**

Expected Output : 
* No. of Upper case characters : 4
* No. of Lower case Characters : 33

In [ ]:
str1='Hello Mr. Rogers, how are you this fine Tuesday?'
count=0
count1=0
count2=0 
n=len(str1)
for i in range(0,n):
    if str1[i].isupper():
        count1+=1 
    elif str1[i].islower():
        count2+=1 
    else:
        count+=1 
print("the no of Uppercase: ",count1)
print('the no of lowercase: ',count2)
print('The no of simples: ',count)

the no of Uppercase:  4
the no of lowercase:  33
The no of simples:  11

**Write a Python function that checks whether a word or phrase is palindrome or not.**

Example of Palindrome:
* Hannah
* Anna

In [ ]:
str1=str(input('Enter the String : '))
#convert the all char is lower/upper
s=str1.lower() 
#reversed the string and stored
r=s[::-1]   
print('The reversed str: ',r)
#check is str,reversed str are same
if r==s:    
    print('Yes the str is palindrome')
else:
    print('No the string is not a palindrome')

Enter the String : Anna
The reversed str:  anna
Yes the str is palindrome

**Write a Python function to multiply all the numbers in a list**.

* Sample List : [1, 2, 3, -4]
* Expected Output : -24

In [ ]:
# get the list value from user
Sample_List=list(map(int,input('Enter the list: ').strip().split()))

def multiple(a):
    res=1
    n=len(a)
    for i in a:
        res=res*i 
    return res

print(multiple(Sample_List))

Enter the list: 1 2 3 -4
-24

**Given a string, return a string where for every character in the original there are three characters**


*   paper_doll('Hello') --> 'HHHeeellllllooo'

In [ ]:
str1=str(input('Enter the str input: '))
def upgrade(str1):
    New=''
    for i in str1:
        New+=i*3
    print('The New string is : ',New)

upgrade(str1)

Enter the str input: Hello
The New string is :  HHHeeellllllooo

 **Write a code to check whether a year is leap year or not.**


* is_leap(1994)-->Leap year
* is_leap(2100)-->not a Leap year 
*is_leap(2000)—>Leap year

In [ ]:

def is_leap(y):
    if y%4==0 and (y%100!=0 or y%400==0):
        print('Leap Year')
        
    else:
        print('No')
    
is_leap(1994)
is_leap(2100)
is_leap(2000)

No
No
Leap Year

Day : 13

---


**Python coding question:
Write a function that capitalizes the first and fourth letters of a name**


*TC 1:capitalize("chandrali")
   Output is : 'ChaNdrali'
   
*TC 2:capitalize("roy")
  OUtput is : 'Name is too short!'

In [ ]:
str1=str(input('Enter the string : '))

def to_upper(s):
    n=len(s)  # string length
    
    new_str=''
    
    if n>4: #check string length
        for i in range(0,n):
            if i==0 or i==3: #convert the upper and store
                new_str+=s[i].upper()
            else:
                new_str+=s[i]
            
        print(new_str)
    else:
        print('The string too short!')

to_upper(str1)

Enter the string : chandrali
ChaNdrali

Day  : 14
**Print the list of integers from through as a string, without spaces**


* **Sample Input:**
3
* **Sample Output:**
123

In [1]:
n=int(input('Enter the integer: '))
a=[]
for i in range(1,n+1):
    #single integer to single str
    s=str(i)
    #string stored in list
    a.append(s)

#list to whole string
print(''.join(a))

Enter the integer: 3
123

Day : 15
**Print only the words that start with "s" in a sentence**


* **Input:**
Salad is healthy snack
* **Output:**
Salad
snack

In [2]:
str1=str(input('Enter the String: '))
# convert string into list
mylist=list(str1.split(' '))
print(mylist)

for word in mylist:
    #convert All string to lowercase
    ele=word.lower()
    if ele[0:1]=='s':
        print(word)

Enter the String: Salad is healthy snack
['Salad', 'is', 'healthy', 'snack']
Salad
snack